@import "vars";
@import "default";
@import "header";

#page {
	background:white;
	margin:0 auto;
	padding:10px 0 40px;
	
	@media @desktop {
		max-width:940px;
	}
}

#content {
	padding:2%;
	position:relative;
	width:100%;
	
	@media @desktop {
		padding:0;
	}
	
}